@model PersonalPhotos.Controllers.ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}
<h2>Change Password</h2>
<div classs="container">
    <div class="row">
        <div class="col-md-10">
            <div class="col-lg-10">
                @Html.ValidationSummary();
            </div>
            <form method="post" asp-controller="Logins" asp-action="ChangePassword">
                <input type="hidden" asp-for="EmailAddress" />
                <input type="hidden" asp-for="Token" />
                <div class="form-group">
                    Email Address: @Model.EmailAddress
                    <div class="form-control">
                        <label for="password" asp-for="Password">New Password</label>
                        <input type="text" asp-for="Password" />
                    </div>
                    <input type="submit" value="Reset Password" />
                </div>
            </form>
        </div>
    </div>
</div>

